<mat-drawer-container class="side-nav">
  <mat-drawer mode="side" opened>
    <h2 class="title"><a class="title-link" href="/">Tour of Heroes</a></h2>
    <!-- <button mat-button (click)="openLoginDialog()">Login</button> -->
    <a
      class="nav-link"
      routerLink="/comic-book-cards"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Comic books</a
    >
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet> </router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
