<div mat-dialog-content class="dialog">
  <div *ngIf="item">
    <h2>Add comic book</h2>
    <mat-form-field class="form-field">
      <mat-label>Enter the title</mat-label>
      <input type="text" [(ngModel)]="item.title" matInput />
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Enter the issue</mat-label>
      <input type="number" [(ngModel)]="item.issueNumber" matInput />
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Enter the descrition</mat-label>
      <input type="text" [(ngModel)]="item.description" matInput />
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Enter the image link</mat-label>
      <input type="text" [(ngModel)]="item.thumbnail" matInput />
    </mat-form-field>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button
        (click)="updateComic(item)"
        *ngIf="item.id"
        [mat-dialog-close]="true"
        mat-raised-button
        color="secondary"
      >
        Edit
      </button>
      <button
        (click)="deleteComic(item.id)"
        *ngIf="item.id"
        [mat-dialog-close]="true"
        mat-raised-button
        color="secondary"
      >
        Delete
      </button>
      <button
        mat-button
        *ngIf="!item.id"
        [mat-dialog-close]="true"
        cdkFocusInitial
        (click)="insertComic(item)"
      >
        Add
      </button>
    </mat-dialog-actions>
  </div>
</div>
